.winPageContainer {
  height: 100vh;
  display: flex;
  min-height: 500px;
  padding: 0 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to right bottom, #ffffff 50%, #FFF3EB 50%);

  &_contentImage {
    width: 100%;
    display: block;
    max-width: 300px;
    margin-bottom: 30px;

    @media (max-width: 1100px) {
      max-width: 200px;
    }
  }

  &_title {
    max-width: 450px;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
}
