.answerItem {
  position: relative;
  margin-bottom: 30px;

  color: #1C1C21;
  font-size: 20px;
  line-height: 116%;
  font-weight: normal;

  @media (max-width: 1100px) {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    margin-bottom: 8px;
  }

  svg {
    width: 100%;
    transition: all 0.1s;
  }

  &_value {
    top: 50%;
    left: 12%;
    position: absolute;
    transform: translate(0%, -50%);
  }

  &_valueNum {
    color: #FF8B37;
    font-size: 20px;
    font-weight: 600;
    line-height: 116%;
    margin-right: 8px;

    @media (max-width: 1100px) {
      font-size: 16px;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &_icon {
    fill: #ffffff;
    stroke: #D0D0D8;
  }
}

.answerItem:hover {
  cursor: pointer;

  svg {
    stroke: #E87928;
  }
}

.answerItem:active {

   svg {
     fill: #FFF3EB;
   }
}

.answerItem.right {
  svg {
    fill: #E6FAEA;
    stroke: #47D867;
  }
}

.answerItem.wrong {
  svg {
    fill: #FDEEED;
    stroke: #EC6259;
  }
}

.answerItem.disabled {
  pointer-events: none;
}
